/**
 * @file Elements
 */

/*
    Website     Touchdreams
    Author      Dane Rossenrode
    Creation    April 2013
    Updated     October 2014
*/
/* -------------------------------------------------------------------------------------------
                                                                CONTENTS
    Individual tags
    Headings
    Links
    Tables
    Lists
 */


/*
 * Much of these initial styles are provided by HTML5 Boilerplate v4.3.0,
 * MIT License | http://h5bp.com/
 */

html,
button,
input,
select,
textarea {
    // color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

// Remove the gap between images, videos, audio and canvas and the bottom of
// their containers: h5bp.com/i/440
audio,
canvas,
img,
video {
  vertical-align: middle;
}


fieldset {
  // Remove default fieldset styles.
  border-width: 0;
  margin: 0;
  padding: 0;
}

textarea {
  // Allow only vertical resizing.
  resize: vertical;
}



/* -------------------------------------------------------------------------------------------
                                                                Individual tags
*/
html, body {
  height: 100%;
}
p,
li,
th, td,
blockquote {
  // max-width: 60em; // has been put on MAIN instead
}

p {
  // margin: 1.2em 0 0; // if the p has a bottom-margin, since floated elements below it don't overlap its margin, will have double-height space below it
  margin-top: 1.2em;
  // margin-bottom: 1.2em;
  font-family: $font-paragraphs;
  color: $colour-paragraphs;
  line-height: $line-height;
}

img {
  height: auto;
  max-width: 100%;
}

ul,
ol {
  li {}
}

small {
  font-size: 0.85em;
}

figure {
  position: relative;
}
figcaption {
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0px;
  text-align: center;
  background-color: rgba( black, 0.6);
  font-size: 0.9rem;
  line-height: 1.2;
  padding: 0.3em 0.5em;
  color: #FFF;

  .title {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.3em;
  }
}

acronym, abbr {
  border-bottom: 1px dotted #222;
  cursor: help;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $colour-dividers;
  margin: 1em 0;
  padding: 0;
  width: 70%;
  margin: 2.6em auto;
}

blockquote {
  margin: 1.5em 4%;
  position: relative;
  background: rgba( black, 0.04);
  padding: $text-field-padding;

  p {
    margin: 0;
  }

  /* the following rules insert large quotation marks */
  &:before, &:after {
    font-size: 2.5em;
    position: absolute;
  }
  &:before {
    content: "\201C";
    left: -0.5em;
    top:  -0.5em;
  }
  &:after {
    content: "\201D";
    right:  -0.5em;
    bottom: -1em;
  }
}

::selection {}

 .node__content p, pre {
    margin: 1em 0px;
    padding: 0 1em;
}


/*------------------------------------------------------------------------
                                                            Links
*/
a {
    color: $colour-links;
    text-decoration: none;
    // line-height: 1;
    word-wrap: break-word;

    &:link {}
    &:visited {
        // color: $colour-links;
    }
    &:hover,
    &:focus {
        color: shade( $colour-links, 30% );
    }
    &:active { /* a link when it is 'clicked' on */
        color: shade( $colour-links, 40% );
    }
    &.active,
    &[aria-selected="true"] {
        font-weight: bold;
        color: inherit;
    }
}



/*------------------------------------------------------------------------
                                                            Headings
*/
h1, h2, h3, h4, h5, h6,
.h1, .h2 {
    font-family: $font-headings;
    font-weight: normal;
    line-height: 1.1; // just a backup catch-all

    margin-top:     1em;
    margin-bottom:  0.8em;

    a {
        color: inherit;
    }
}
h3, h4,
.h3, .h4 {
  font-family: $font-body;
  font-weight: bold;
}

h1,
.h1 {
  font-size:   $font-size-h1;
  line-height: $line-height-h1;

  text-align: center;
  margin-bottom: 1.4em;
  margin-top: 1.6em;
}
h2,
.h2 {
    font-size:   $font-size-h2;
    line-height: $line-height-h2;
}
h3,
.h3 {
    font-size:   $font-size-h3;
    line-height: $line-height-h3;
}
h4 {
    font-size:   $font-size-h4;
    line-height: $line-height-h4;
}



/* -------------------------------------------------------------------------------------------
                                                                Tables
*/
table {
    border-collapse: collapse; // use this only when a table actually has a border
    // font-size: 0.9em;
    margin: 1.5em 0;
    // table-layout: fixed; // should only be used on fixed-column-width tables

    td, th {
        border: solid 1px #bbb;
        padding: $text-field-padding;
        vertical-align: top;
    }
    td {}
    th {
        text-align: left;
        font-weight: bold;
        background: rgba( black, 0.05 );

        &.active {
            background: rgba( black, 0.15 );
        }
        // A header for a table row
        &[scope="row"] {
            font-weight: bold;
            text-align: right;
        }
    }
    thead {
        font-size: 1.1em;
        font-family: $font-headings;
        font-weight: bold;
        text-transform: uppercase;
    }
    &.borderless {
        td, th {
            border: none;
        }
        th {
            background: none;
        }
    }
    .even {
        background: none;
      }
    .odd {
        //background: rgba( black, 0.1);
        background: none;
      }
}



/* -------------------------------------------------------------------------------------------
                                                                Lists
*/
ul, ol {
  // overflow: auto; // when beside floated content, keeps it together
  // line-height: 1.1;
}
#admin-menu ul {
  overflow: visible;
}
li + li {
  margin-top: 1em;
}

// .menu {
//     padding-left: 1.2em;
//     //list-style: none;
//     margin: 0;

//     .menu__link {
//         display: block;
//     }
// }
// nav ul li {
//     margin: 0;
// }
ul.buttons {
    padding: 0;

    li {
      display: inline-block;
    }
    img {
      border-radius: $corner_radius-small;
    }
}



