/**
 * @file Colour
 */

// Used for swatches
.colour {
	display: inline-block;
	text-align: center;
	width: 6em;
	height: 5em;
	line-height: 1.1;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	color: white;
	background-color: rgba(black, 0.15);
	border-radius: $corner-radius-small;

	&.primary {
		background-color: $colour-primary;
	}
	&.secondary {
		background-color: $colour-secondary;
	}
	&.tertiary {
		display: none;
	}
}

@mixin black {
	background: black;
	color: white;

	a {
		&,
		&:visited,
		&:hover,
		&:focus {
			color: white;
		}
	}
}

@mixin red {
	background: red;
	color: white;

	a {
		&,
		&:visited,
		&:hover,
		&:focus {
			color: white;
		}
	}
}

@mixin very-dark {
	background: $colour-near-black;
	color: white;

	a {
		color: white;
	}
}

@mixin white {
	color: $colour-text;

	// Tables
	table {
	    td, th {
	        border-color: #bbb;
	    }
	}
	.form-item {
	    &.blurred {
	        input,
	        textarea {
	            background-color: rgba( white, 0.5);
	        }
	        label,
	        .description {
	            color: tint( $colour-text, 20% );
	        }
	    }
	}

	// Links
	a {
	    // color: $colour-links;

	    &:link {}
	    &:visited {
	        // color: $colour-links;
	    }
	    &:hover,
	    &:focus {
	        color: tint( $colour-links, 30% );
	    }
	    &:active { /* a link when it is 'clicked' on */
	        color: tint( $colour-links, 30% );
	    }
	    &.active,
	    &[aria-selected="true"] {
	        // color: inherit;
	    }
	    &.link-box {
	        // color: inherit;
	    }
	}
}






