// @file
// Custom sass mixins
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// This is a modern replacement for 'clearfix'
@mixin group {
  &:after {
    content: "";
    display: table;
    clear: both;}
}


// Flexbox

@mixin display-flex() {
  display:  -webkit-box;
  display:     -moz-box;
  display:  -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
          -ms-flex: $values;
              flex: $values;
}

@mixin align-items($value) {
    -webkit-box-align: $value;
   -webkit-flex-align: $value;
       -ms-flex-align: $value;
  -webkit-align-items: $value;
          align-items: $value;
}

@mixin justify-content($value) {
  @if $value == 'justify' {
           -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
            justify-content: space-between;
  }
  @if $value == 'center' {
           -webkit-box-pack: center;
    -webkit-justify-content: center;
              -ms-flex-pack: center;
            justify-content: center;
  }
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}


@mixin size-aspect-ratio($aspect-ratio) {
  display: block;
  box-sizing: border-box;
  height: 0px;

  @if ($aspect-ratio == 'square') {
    padding-bottom: 100%;
  }
  @elseif ($aspect-ratio == '4:3') {
    padding-bottom: 100% / 4 * 3;
  }
  @elseif ($aspect-ratio == '16:9') {
    padding-bottom: 100% / 16 * 9;
  }
}


// // Column
// // An element that is in a row with other elements, with a gap between the elements.
// @mixin column ($cols: 2, $gutter-width: $gutter-wide, $float-dir: left) {
//     $col-width: (100% - ($cols - 1) * $gutter-width) / $cols;

//     $last-col: $cols + "n";
//     $first-col: $last-col + " - " + ($cols - 1);

//     float: $float-dir;
//     width: $col-width;
//     margin-left: $gutter-width / 2;
//     margin-right: $gutter-width / 2;
//     margin-bottom: $gutter-width;

//     display: inline-block;

//     &:nth-child(#{$first-col}) {
//         margin-left: 0;
//         clear: $float-dir;
//     }
//     &:nth-child(#{$last-col}) {
//         margin-right: 0;
//     }
// }



// Navigation
@mixin menu-vertical {
    li {
      display: block;
      float: none;

        a {
            display: block;
            padding: ($pointable-padding / 2) $pointable-padding;
            text-align: left;
        }
    }
}
@mixin menu-horizontal {
    li {
      display: block;
      float: left;

        a {
            padding: $pointable-padding;
            text-align: center;
        }
    }
}

@mixin besided ($side: both, $style: double-line, $colour: grey) {
  text-align: center;
  position: relative;
  overflow: hidden;

  span { /* from Chris Coyier's CSS-Tricks website */
    display: inline-block;
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 600px;
      @if ($style == double-line) {
        margin-top: 0.5em;
        height: 5px;
        border-bottom: 1px solid $colour;
        border-top: 1px solid $colour;
      }
      @else {
        margin-top: 0.59em;
        border-top: 1px solid $colour;
      }
    }
    &:after {
      left: 100%;
      margin-left: 15px;}
    &:before {
      right: 100%;
      margin-right: 15px;}
  }
  @if $side == right {

    // display: inline-block;
    // position: relative;

    // &:after {
    //  content: "";
    //  position: absolute;
    //  top: 0;
    //  width: 600px;

    //  @if $style == solid {
    //    height: 100%;
    //    background: $colour;
    //  }

    //  left: 100%;
    //  margin-left: 0.6em;}
  }
}

@mixin visually-visible {
  display: block;
}



// =============================================================================
//                                          Columns

// Column
// An element that is in a row with other elements.
// It'll have a horizontal gap between the elements ($gutter-width).
// It can have a margin-bottom ($gutter-height).
@mixin column($cols: 2, $gutter-width: $gutter-wide, $gutter-height: $gutter-wide, $float-dir: left) {
  $col-width: calc( (100% - #{$gutter-width} * (#{$cols} - 1)) / #{$cols});

  $last-col: $cols + "n";
  $first-col: $last-col + " - " + ($cols - 1);

  float: $float-dir;
  width: $col-width;
  margin-left: $gutter-width / 2;
  margin-right: $gutter-width / 2;
  margin-bottom: $gutter-height;
  // display: inline-block;

  &:nth-child(#{$first-col}) {
    margin-left: 0;
    clear: $float-dir;
  }
  &:nth-child(#{$last-col}) {
    margin-right: 0;
  }
}
// Columns, but only 1 row
// Does not support more than 1 row.
@mixin cols-unknown($gutter-width: $gutter-wide) {
  @include display(flex);

  & > div {
    @include flex(1 1 0);
    margin-left: $gutter-width / 2;
    margin-right: $gutter-width / 2;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}


@mixin cols-2-3-4-6 {
    @include group; // Needed because children are floated.

    & > * {
        margin-left: 0;
        margin-right: 0;
        // &:last-child {
        //     // margin-bottom: 0; // Needed because container is floated.
        // }
    }
}
@mixin cols-2-3-4 {
    // & > * {
    //     @media all and (max-width: $w-narrow) {
    //         // margin-top: 3em;
    //     }
    // }
}
@mixin cols-2($gutter-width: $gutter-wide, $gutter-height: $gutter-wide) {
    @include cols-2-3-4;
    @include cols-2-3-4-6;

    & > * {
        margin-bottom: $gutter-height;

        @media all and (min-width: $w-regular) {
            @include column(2, $gutter-width);
        }
    }
}
@mixin cols-3($gutter-width: $gutter-wide, $gutter-height: $gutter-wide) {
    @include cols-2-3-4;
    @include cols-2-3-4-6;

    & > * {
        margin-bottom: $gutter-height;
        @media all and (min-width: $w-narrow) and (max-width: $w-regular) {
            @include column(2, $gutter-width, $gutter-height);
        }
        @media all and (min-width: $w-regular) {
            @include column(3, $gutter-width);
        }
    }
}
@mixin cols-4($gutter-width: $gutter-wide, $gutter-height: $gutter-wide) {
    @include cols-2-3-4;

    & > * {
        margin-bottom: $gutter-height;
        @media all and (min-width: $w-narrow) and (max-width: $w-regular) {
            @include column(2, $gutter-width, $gutter-height);
        }
        @media all and (min-width: $w-regular) {
            @include column(4, $gutter-width);
        }
    }
}
@mixin cols-6($gutter-width: $gutter-wide, $gutter-height: $gutter-wide) {
    @include cols-2-3-4;
    @include cols-2-3-4-6;

    & > * {
        margin-bottom: $gutter-height;

        @media all and (max-width: $w-narrow) {
            @include column(2, $gutter-width, $gutter-height);
        }
        @media all and (min-width: $w-narrow) and (max-width: $w-regular) {
            @include column(3, $gutter-width, $gutter-height);
        }
        @media all and (min-width: $w-regular) {
            @include column(6, $gutter-width);
        }
    }
}
