<div class="heading">Heading level 2</div>

<h2>Lorem ipsum dolor sit amet,&nbsp;consectetuer&nbsp;adipiscing elit</h2>

<div class="heading">Heading level 3</div>

<h3>Lorem ipsum dolor sit amet,&nbsp;consectetuer&nbsp;adipiscing elit</h3>

<div class="heading">Heading level 4</div>

<h4>Lorem ipsum dolor sit amet,&nbsp;consectetuer&nbsp;adipiscing elit</h4>

<div class="heading">Paragraph</div>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam id neque. Sed quis quam. Proin nec velit eget orci imperdiet pretium. Ut tempus semper odio. Nam blandit. Nulla eros. Pellentesque tincidunt lacinia arcu. Sed nisl lacus, commodo in, hendrerit dapibus, aliquam ac, elit.</p>

<div class="heading">Inline text</div>

<div>Lorem <strong>ipsum dolor</strong> sit.&nbsp;Lorem <em>ipsum dolor</em> sit. Lorem <span style="text-decoration: underline;">ipsum dolor</span> sit. Lorem <span style="text-decoration: line-through;">ipsum dolor</span> sit. Lorem <abbr title="abbreviation">ipsum</abbr> <acronym title="acronym">dolor</acronym> sit.</div>

<div class="heading">Label and mark</div>

<div><span class="label">label</span>new</div>

<div class="heading">Buttons: standard, flat, and primary</div>

<div><a class="button" href="#"><span>button</span></a> <a class="button flat" href="#"><span>flat button</span></a> <a class="button primary" href="#"><span>primary button</span></a></div>

<div class="heading">Breadcrumb bar</div>

<h2 class="element-invisible">You are here</h2>

<ol>
  <li><a href="#0">Bread</a> ›</li>
  <li><a href="#0">Crumbs</a> ›</li>
  <li><a href="#0">Bar</a> ›</li>
</ol>

<div class="heading">Pager</div>

<ul class="pager">
  <li class="pager-first first"><a href="#" title="Go to first page">« first</a></li>
  <li class="pager-previous"><a href="#" title="Go to previous page">‹ previous</a></li>
  <li class="pager-item"><a href="#" title="Go to page 1">1</a></li>
  <li class="pager-current">2</li>
  <li class="pager-item"><a href="#" title="Go to page 3">3</a></li>
  <li class="pager-next"><a href="#" title="Go to next page">next ›</a></li>
  <li class="pager-last last"><a href="#" title="Go to last page">last »</a></li>
</ul>

<div class="heading">Colours: primary, secondary, and tertiary</div>

<div class="colour primary">Primary colour</div>

<div class="colour secondary">Secondary colour</div>

<div class="colour tertiary">Tertiary colour</div>

<div class="heading">Image</div>

<div><img alt="100×100" src="http://placehold.it/100x100&amp;text=Image" title="100×100" /></div>

<div class="heading">Blockquote</div>

<blockquote>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam id neque. Sed quis quam. Proin nec velit eget orci imperdiet pretium. Ut tempus semper odio. Nam blandit. Nulla eros. Pellentesque tincidunt lacinia arcu. Sed nisl lacus, commodo in, hendrerit dapibus, aliquam ac, elit.
</blockquote>

<div class="heading">Table</div>

<table>
  <thead>
    <tr>
      <th>Header row TH</th>
      <th>Header row TH</th>
      <th>Header row TH</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First column</td>
      <td>text</td>
      <td>text</td>
    </tr>
    <tr>
      <th colspan="3">Sub-header th</th>
    </tr>
    <tr>
      <td>text</td>
      <td>text</td>
      <td>text</td>
    </tr>
    <tr>
      <td>text</td>
      <td>text</td>
      <td>text</td>
    </tr>
  </tbody>
</table>

<div class="heading">List: unordered</div>

<ul>
  <li>Fusce non urna. Nam id sem sit amet nulla risus sed leo. Etiam bibendum, ante vel sodales vulputate, enim ante varius ipsum, sit amet laoreet risus purus non lacus. Curabitur ullamcorper semper lectus. Quisque fermentum nulla eget nisi.</li>
  <li>sem volutpat elementum. Nunc tempus, enim iaculis nulla risus sed leo. Etiam bibendum, ante vel sodales vulputate, enim ante varius ipsum, sit amet laoreet risus purus non lacus. Curabitur ullamcorper semper lectus. Quisque fermentum.</li>
  <li>viverra varius, nulla libero volutpat felis, non</li>
</ul>

<div class="heading">List: ordered</div>

<ol>
  <li>Fusce non urna. Nam id sem sit amet</li>
  <li>sem volutpat elementum. Nunc tempus, enim iaculis</li>
  <li>viverra varius, nulla libero volutpat felis, non</li>
</ol>

<div class="heading">Messages: status, warning, and error</div>

<div class="messages--status messages status">
<h2 class="element-invisible">Status message</h2>
Status message</div>

<div class="messages--warning messages warning">
<h2 class="element-invisible">Warning message</h2>
Warning message</div>

<div class="messages--error messages error">
<h2 class="element-invisible">Error message</h2>
Error message</div>

<div class="heading">Horizontal ruled line</div>

<hr />

<div class="heading">Form</div>

<form action="#" class="grid_6" enctype="multipart/form-data" method="post">
<div><label for="name">Name </label> <input class="input_full" id="name" name="name" type="text" /></div>

<div><label for="email">Email </label> <input class="input_full" id="email" name="email" type="email" /></div>

<div><label for="cc"><abbr title="Courtesy Copy">CC</abbr> </label> <input id="cc" name="cc" type="checkbox" value="1" /> <label for="cc"> Send me a copy of this email </label></div>

<div><label for="tel">Phone </label> <input class="input_full" id="tel" name="tel" type="tel" /></div>

<div><label for="url">URL </label> <input class="input_full" id="url" name="url" type="text" /></div>

<div><label for="budget">Budget </label><select class="input_full" id="budget" name="budget"><option value="">Ballpark estimate...</option><optgroup label="Small"><option value="1k_2k">$1,000 to 2,000</option><option value="2k_3k">$2,000 to 3,000</option><option value="3k_4k">$3,000 to 4,000</option><option value="4k_5k">$4,000 to 5,000</option><option value="5k_6k">$5,000 to 6,000</option></optgroudiv><optgroup label="Medium"><option value="6k_7k">$6,000 to 7,000</option><option value="7k_8k">$7,000 to 8,000</option><option value="8k_9k">$8,000 to 9,000</option><option value="9k_1k0">$9,000 to 10,000</option><option value="10k_11k">$10,000 to 11,000</option></optgroudiv></select></div>

<div><label for="priority_normal">Priority </label> <input id="priority_urgent" name="priority" type="radio" value="Urgent" /> <label for="priority_urgent"> Urgent </label> &nbsp; &nbsp; <input checked="checked" id="priority_normal" name="priority" type="radio" value="Normal" /> <label for="priority_normal"> Normal </label> &nbsp; &nbsp; <input id="priority_low" name="priority" type="radio" value="Low" /> <label for="priority_low"> <abbr title="Request For Proposal">RFP</abbr> <span class="mute">(low)</span> </label></div>

<div><label for="description">Project details </label><textarea id="description" name="description" rows="8"></textarea></div>

<p class="clearfix">&nbsp;</div>
</form>
