/**
 * @file
 * Positioning, sizing, and spacing of page elements. A responsive layout.

 */

header[role="banner"] > [role="presentation"],
main nav.tabs,
main .block > [role="presentation"],
footer[role="contentinfo"] > [role="presentation"], {
    max-width: $page_max_width;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    padding-left: 5%;
    padding-right: 5%;
	z-index: 10;
}

main {
    padding-bottom: 3em;
}


main .block,
aside .block {
    margin-bottom: 1em;
}

main .region {
    @include group; // Needed because some blocks are floated.
}




.layout-container {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px; 
}
.layout-container:after {
  content: "";
  display: block;
}
footer[role="contentinfo"],
.layout-container:after {
  height: 100px; 
}