// /**
//  */

// body > .cover {
//   position: fixed !important;
//   background: rgba(black, 0.75);
//   width: 100% !important;
//   height: 100% !important;
//   top: 0;
//   left: 0;
//   z-index: 30;

//   &[aria-hidden='false'] {
//     @include visually-visible;
//   }
// }


// /* =============================================================================
//                                                       User is logged in
//  */
// body.user-logged-in {
//   // These fix: Header hidden by #toolbar-bar
//   padding-top: 0 !important;
//   margin-top: 39px;
//   position: relative;

//   @media all and (max-width: 610px) {
//     #toolbar-bar {
//       top: -39px;
//     }
//   }
// }



// /* =============================================================================
//                                                       Front page
//  */
// body.path-frontpage {

//   header[role="banner"] {
//     position: absolute;
//     top: 0;
//     z-index: 50;
//     width: 100%;

//     // Because the header overlaps the first block,
//     // move it's contextual menu button down.
//     & ~ main .block:first-of-type .contextual {
//       top: 3em;
//     }
//   }

//   main {
//     // Heading2s of blocks: displayed as divider headings
//     .block > [role="presentation"] > h2 {
//       text-align: center;
//       @include besided(both, single-line, $colour-earth-green);
//       @include extend-width(5%);
//       margin-bottom: 2em;
//     }

//     .block > [role="presentation"] {
//       max-width: $page_max_width;
//       position: relative;
//     }

//     .grid {
//       text-align: center;

//       p {
//         font-size: 0.9em;
//       }
//     }
//   }
// }



// /* =============================================================================
//                                                       Contact page
//  */
// .path-contact {
//   $contact-form-block-width: 0.7;

//   main .half-width {
//     width: 100% - (100% * $contact-form-block-width);
//     & > [role="presentation"] {
//       max-width: $page_max_width * (1 - $contact-form-block-width);
//     }
//   }
//   main .half-width + div {
//     width: (100% * $contact-form-block-width);
//     & > [role="presentation"] {
//       max-width: $page_max_width * $contact-form-block-width;
//     }
//   }

//   .block table {
//     float: right;
//   }
// }



// /* =============================================================================
//                                                       Primary menu (responsive)
//  */
// #block-txn-main-menu {
//   // On narrow widths (phones)
//   @media all and (max-width: $primary-menu-breakpoint) {
//     display: block;
//     background: white; // Just as a fallback.
//     position: fixed;
//     width: 20em;
//     max-width: 80%;
//     z-index: 95;
//     top: 60px;
//     right: -20em;
//     @include transition(all 0.3s ease 0s);

//     &[aria-expanded="true"] {
//       right: 0em;
//     }

//     .menu {
//       @include menu-vertical;
//       padding-top: 1em;
//       padding-bottom: 1em;

//       li {
//         a {
//           color: $colour-menu-links;
//           padding: 0.9em 2em;
//           display: block;

//           &:hover,
//           &:focus {
//             color: tint($colour-menu-links, 20%);
//           }
//         }
//       }
//     }
//   }
// }



/* =============================================================================
                                                      Views
 */
.view-sponsors {
  h2 {
    clear: both;
    border-bottom: solid 1px red;
    padding-bottom: 0.2em;
    margin-top: 1.7em;
    font-weight: 600;
  }
  .results-group {
    @include group;
  }
  .results-group:nth-of-type(1) {
    font-size: 1.2em;

    .views-field-field-image {
      float: left;
      margin-right: 4em;
    }
    h3 {
      clear: none;
      font-size: 1.8em;
      padding-top: 2em;
      margin-top: 0;
    }
  }
  .results-group:nth-of-type(2) {
    @include cols-unknown;
    h3 {
      font-size: 1.2em;
    }
  }
  .results-group:nth-of-type(3) {
    @include cols-6;
    .views-row {
      font-size: 0.75em;
    }
    h3 {
      font-size: 1.2em;
    }
  }
}


.view-team,
.view-speakers,
.view-performers,
.view-videos {
  .results-group {
    @include cols-4;
  }
  article[data-view-mode="teaser"] {
    @include display(block);

    & .tell {
      padding: 0;
    }
    h2 {
      font-size: 1.1em;
      margin-top: 0.9em;
      font-weight: 600;
    }
  }
}