/**
 * @file Regions
 */



/* =============================================================================
                                                      Header
 */

body {
  background: $colour-bg-body;
  font-family: $font-body;
  color: $colour-text;

  @media only screen and (max-width: $w-regular) {
    font-size: 0.92em;
  }
  @media only screen and (max-width: $w-narrow) {
    font-size: 0.86em;
  }
}

header[role="banner"] {
  // border-bottom: $colour-footer 2px solid;
  @include black;
  height: 90px;

  div[role="presentation"] {
    margin: 0px auto;
    padding-top:0 ;
    padding-bottom:0em;
  }

  h1 {
    font-size: 1.7em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
  }

  img {
    max-height: 4em;
  }

  .region-pre-header {
    float: right;
    width: calc(50% - 100px);
    background: rgb(54, 54, 54);
    height: 35px;
    font-size: 0.9em;
    position: relative;

    .block-menu {
      h2 {
        display: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: -50px;
      top: 0;

      // Grey triangle
      border-width: 35px 50px 0 50px;
      border-style: solid;
      border-color: rgb(54, 54, 54) transparent;
    }
  }

  .region-header {
    // @include display-flex;
    // @include justify-content('justify');
    max-width: $page_max_width;
    margin: 0 auto;

    .block-menu {
      clear: right;
      float: right;
    }

    nav > .menu {
      @include menu-horizontal;
      @include black;

      & > li > a,
      & > li > button {
        padding-top: 0;
        padding-bottom: 0;
        height: 55px;
        vertical-align: middle;
        align-content: center;
        align-items: center;
      }
      & > li > a {
        @include display(flex);
      }

      li ul {
        @include menu-vertical;
        right: 0;
      }
    }
  }

  .block-system-branding-block {
    float: left;
  }
  .site-logo { // Logo block
    display: block;
    padding-top: 10px;
    
    p {
      margin: 0;
    }
    img {
      z-index: 50;
      position: relative;
      background: white;
      box-shadow: 0 0 0.3em rgba(black, 0.34);
      max-width: none;
      max-height: none;
      height: 80px;
      margin-bottom: -1em;
    }
  }
  .site-logo + .site-name {
    display: none;
  }

  .block {
    &.featured {
      padding-top: 7em;
      padding-bottom: 4em;
    }
  }

  button#show-menu {
    float: right;
    color: $colour-text;

    &,
    &:hover,
    &:focus {
      color: darken($colour-text, 20%);
    }

    @media all and (min-width: $primary-menu-breakpoint) {
      display: none;
    }
  }

}
#block-txn-main-menu {
  @include display-flex;
  @include align-items(center);
}



/* =============================================================================
                                                      Asides
 */

.region-sidebar-second {
  text-align: center;
}



/* =============================================================================
                                                      Footer
 */

footer[role="contentinfo"] {
  background: $colour-footer;
  font-size: 0.85em;

  & > [role="presentation"] {
    padding-top: 2em;
    padding-bottom: 2em;
    @include group;
  }

  h2 {
    @extend .h3;
    margin-top: 0;
  }

  small { // The ‘website by Touchdreams’ link.
    display: inline-block;
    margin-top: 0.8em;
  }

  p {
    font-family: $font-body;
  }

  img {
    max-width: 90px;
  }

  .field > p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .block {
    margin-bottom: 0;
  }

  .region {
    @media all and (max-width: $w-narrow) {
      &:not(:first-child) {
        margin-top: 3em;
      }
    }
    @media all and (min-width: $w-narrow) and (max-width: $w-regular) {
      @include column(2);
      margin-bottom: 0;
    }
    @media all and (min-width: $w-regular) {
      @include column(4);
      margin-bottom: 0;
    }
  }
}
#block-txn-socialmedialinks {
  .menu {
    @include menu-horizontal;

    li:not(:first-child) {
      padding-left: 0.3em;
    }
  }
}






