/**
 * @file Components
 */



// =============================================================================
//                                          Small components

@mixin extend-width ($extra: 5%) {
  padding-left: $extra;
  padding-right: $extra;
  width: 100%;
  margin-left: -$extra;
}

.small {
    font-size: 0.9em;
}

h1, h2, h3, h4 {
    & > .noticeable {
        display: block;
        background: #10647B;
        color: white;
        padding: 0.2em 0.5em;
        border-radius: $corner-radius-small;
    }
}

@mixin bordered() {
    border: 1px solid #BABABA;
    padding: 2px;
    box-sizing: border-box;
}

@mixin visually-hidden() {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
}
@mixin visually-visible() {
    position: static;
    clip: none;
    overflow: visible;
    height: auto;
    width: auto;
    word-wrap: normal;
}

[aria-hidden="true"] {
    @include visually-hidden;
}

.images-bordered img {
    @include bordered;
}

.non-list {
    list-style: none;

    &,
    li {
        padding: 0;
        margin: 0;
    }
}

@mixin right() {
    margin: 1em 0 2em 4%;
    text-align: center;
    display: inline-block;
    float: right;
}

@mixin left() {
    margin: 1em 4% 2em 0;
    text-align: center;
    display: inline-block;
    float: left;
}

.left,
.align-left {
    @media all and ( min-width: $w-narrow ) {
        @include left;
    }
}
.right,
.align-right {
    @media all and ( min-width: $w-narrow ) {
        @include right;
    }
}

// .left,
// .right {
//     margin: 1.2em 0;
//     text-align: center;

//     @media all and ( min-width: $w-narrow ) {
//         display: inline-block;
//     }
// }
// @media all and ( min-width: $w-narrow ) {
//     .left {
//         float: left;
//         margin-right: 3%;
//     }
//     .right {
//         float: right;
//         margin-left: 3%;
//     }
// }

// Used where the element is simply a page divider.
// It shouldn't look like any heading element.
.heading {
    background: $colour-secondary;
    color: white;
    @include extend-width(3%);
    margin-top: 2em;
    margin-bottom: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 0.85em;
    text-transform: uppercase;
}


// =============================================================================
//                                          Blocks: Sizes and layouts

// Block class that allows the block to use the full screen width
main .full-width {
    & > [role="presentation"] {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

// Block class that allows the block to use the full screen width
main .half-width {
    width: 50%;
    float: left;

    & > [role="presentation"] {
        max-width: $page_max_width / 2;
        margin-right: 0;
    }
}
main .half-width + div {
    width: 50%;
    float: right;

    & > [role="presentation"] {
        max-width: $page_max_width / 2;
        margin-left: 0;
    }
}



// =============================================================================
//                                          Views

.view {
    // When results list is displayed as a grid.
    .grid {
        h2 {
            font-family: $font-body;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.1em;
            line-height: 1.1;
            margin-top: 1em;
        }
        .field + h2 {
            margin-top: 1em;
            margin-bottom: 0.3em;
        }
    }
    // When results list is displayed as a grid.
    .rows {
        li {
            clear: both;
        }
    }

    p {
        margin: 0;
        padding: 0;
    }
}


.masonry {

    h2 {
        margin: 0;
    }

    li {
        width: 50%;
        padding: 2px;
        box-sizing: border-box;
    }

    .field--name-title {
        position: absolute;
        bottom: 0;
        color: white;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.43);
        padding: 0.5em;
        box-sizing: border-box;
        font-size: 1rem;
    }
}

.masonry-section {
        img {
            margin-bottom: 4px;
    }
}

.col-layout {
    .views-row {
        @include group();

        padding-bottom : 4em;
        margin-top: 3em;

        // &:not(:last-of-type) {
        //     border-bottom: 1px solid $colour-dividers;
        // }

        .group {
            float: left;
            width: 40%;
            clear: left;
            .is-masonry-enabled .field__item {
                width: calc(50% - 2px);
                // padding: 2px;
                box-sizing: border-box;
            }
        }
        .node__content , .node__title{
            margin-left: 43%;
        }
    }

    .views-row:nth-child(2n) {
        .group {
            float: right;
        }
        .node__content , .node__title{
            margin-left: 0;
            margin-right: 43%;
        }
    }

    .field--type-string .field__item {
        padding-left : 1em;
    }

    .field--type-entity-reference .field__item {
        padding-left : 1em;
    }

    .field__label {
        font-weight: normal;
        font-size: 1.4em;
        margin-top: 1em;
    }

    @media all and (max-width: $primary-menu-breakpoint) {
        .views-row {
            .group {
                float: none;
                width: 100%;
            }
            .node__content , .node__title{
                margin-left: 0;
            }
        }
        .views-row:nth-child(2n) {
            .group {
                float: none;
            }
        }
    }
}


// =============================================================================
//                                          Blocks

.block {
    background-size: cover;
    background-position: 50%;
    position: relative;

    .view {
    }
    &.dark {
        &, p {
            color: $colour-on-dark-text;
            text-shadow: 0px 0px 0.3em rgba(0, 0, 0, 0.61);
        }
    }
    $featured-block-height: 90vh;
    &.featured {
        // height: 40em;
        padding-top: 0;
        padding-bottom: 4em;
        box-sizing: border-box;
        background-color: $colour-near-black;
        min-height: $featured-block-height;

        [role="presentation"] {
            max-width: 65rem;
            top: calc(#{$featured-block-height} / 2 - 4em);
        }

        p {
            font-size: 1.5em;
            max-width: 30em;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;

            &:first-of-type {
                font-family: $font-headings;
                font-size: $font-size-h1;
                line-height: 1;
            }
        }

        &::after {
            content: " ";
            background-color: rgba(51, 51, 51, 0.29);
            width: 100%;
            position: absolute;
            height: 100%;
            top: 0;
        }
    }
    &.featured + .block {
        padding-top: 2em;
    }
}



// =============================================================================
//                                          Banners

.banner {
    max-width: none;
    // padding: 3em 3em;
    background: #3F5C35 none repeat scroll 0% 0%;
    color: white;
    text-align: center;

    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
}

#block-banner {
    clear: both;
}


// =============================================================================
//                                          Menu

ul.menu {
    margin: 0;
}
.menu {
    @include menu-vertical;

    display: block;
    padding: 0;
    // width: 100%;
    box-sizing: border-box;
    text-align: center;

    li {
        padding: 0;
        text-transform: uppercase;
        // width: 10em;
        position: relative;

        a {
            @extend %pointer-target;
            color: $colour-menu-links;
            font-weight: 600;

            &.is-active {}
        }

        &.menu-item-expanded > a {
            float: left;
        }
        button {
            margin: 0;
            border: none;
            // @include red;
            border-radius: 0;
            background: none;

            span {
                display: none;
            }
            &::before {
                content: "\25bc"; // solid down-pointing triangle
            }
        }
        &:hover,
        &:focus {
            button {
                background: red;
                color: white;
            }
        }

        // Sub-menus
        ul {
            position: absolute;
            top: 100%;
            left: 0;
            @include red;
            z-index: 90;
            display: none;

            a:hover,
            a:focus {
                background: shade(red, 10%);
            }

            li {
                display: block;
            }
        }
        &.is-expanded,
        &:hover,
        &:focus {
            ul {
                display: block;
            }
        }
    }
}


.view-notices li {
    @include column;
}



// =============================================================================
//                                          Contact forms
.google-map-code {
    display: none;
}
.contact-form {
    $contact-form-col-1-width: 20%;
    $contact-form-gutter: 3%;
    @include group;

    & > * {
        display: block;
        clear: both;
    }

    .form-item {
        @include group;
    }

    textarea,
    input {
        max-width: 40em;
    }

    .form-required {
        color: inherit;

        &::after {
            content: "*";
            color: #c00;
            font-weight: bold;
            position: absolute;
        }
    }

    label {
        width: $contact-form-col-1-width;
        float: left;
        text-align: right;
        margin-right: $contact-form-gutter;
    }
    label + * {
        width: 100% - $contact-form-gutter - $contact-form-col-1-width;
        float: left;
    }
    .form-actions {
        padding-left: $contact-form-col-1-width + $contact-form-gutter;
    }
}

nav.pager {
    [aria-hidden="true"] {
        @include visually-visible;
    }
    .pager__item {
        padding: 0;
    }
    li.is-active,
    li > a {
        padding: $pointable-padding;
        display: inline-block;
    }
    li > a {
        &:hover,
        &:focus {
            background-color: rgba(black, 0.07);
        }
    }
}



// =============================================================================
//                                          Social Media Links



a[href*="facebook.com"],
a[href*="twitter.com"],
a[href*="instagram.com"],
a[href*="linkedin.com"],
a[href*="youtube.com"] {
    @extend [class^="icon-"];
    display: inline-block !important;
    padding: 0.5em !important;
    overflow: hidden;
    height: 1em;
    width: 1em;
    color: transparent !important;
    font-size: 1.2em !important;
    border-radius: $corner-radius-small;

    &::before {
        color: white;
    }
}
a[href*="facebook.com"] {
    background-color: $colour-facebook;
    @extend .icon-facebook;
    &:hover,
    &:focus {
        background-color: shade($colour-facebook, 25%);
    }
}
a[href*="twitter.com"] {
    background-color: $colour-twitter;
    @extend .icon-twitter;
    &:hover,
    &:focus {
        background-color: shade($colour-twitter, 25%);
    }
}
a[href*="instagram.com"] {
    background-color: $colour-instagram;
    @extend .icon-instagram;
    &:hover,
    &:focus {
        background-color: shade($colour-instagram, 25%);
    }
}
a[href*="linkedin.com"] {
    background-color: $colour-linkedin;
    @extend .icon-linkedin2;
    &:hover,
    &:focus {
        background-color: shade($colour-linkedin, 25%);
    }
}
a[href*="youtube.com"] {
    background-color: $colour-youtube;
    @extend .icon-youtube;
    &:hover,
    &:focus {
        background-color: shade($colour-youtube, 25%);
    }
}




// =============================================================================
//                                          Columns

ul.cols {
    & > li {
        vertical-align: top;

        @media all and (min-width: $w-narrow) and (max-width: $w-regular) {
            @include column(2);
        }
        @media all and (min-width: $w-regular) and (max-width: $w-wide) {
            @include column(3);
        }
        @media all and (min-width: $w-wide) {
            @include column(4);
        }
    }
}

.cols-2,
.cols-3,
.cols-4,
.cols-6 {
    @include group; // Needed because children are floated.

    & > * {
        p:last-child {
            margin-bottom: 0; // Needed because container is floated.
        }
    }
}
.cols-2,
.cols-3,
.cols-4 {
    & > li {
        @media all and (max-width: $w-narrow) {
            margin-top: 3em;
        }
    }
}
.cols-2 {
    & > li,
    & > section {
        @media all and (min-width: $w-regular) {
            @include column(2);

            h3 {
                margin-top: 0;
            }
        }
    }
}
.cols-3 {
    & > li {
        @media all and (min-width: $w-narrow) and (max-width: $w-regular) {
            @include column(2);
        }
        @media all and (min-width: $w-regular) {
            @include column(3);
        }
    }
}
.cols-4 {
    & > li {
        @media all and (min-width: $w-narrow) and (max-width: $w-regular) {
            @include column(2);
        }
        @media all and (min-width: $w-regular) {
            @include column(4);
        }
    }
}
.cols-6 {
    & > li {
        @media all and (max-width: $w-narrow) {
            @include column(2);
        }
        @media all and (min-width: $w-narrow) and (max-width: $w-regular) {
            @include column(3);
        }
        @media all and (min-width: $w-regular) {
            @include column(6);
        }
    }
}

.view-team  ul.cols {
    & > li {
        vertical-align: top;

        @media all and (min-width: $w-narrow) and (max-width: 950px) {
            @include column(1);
        }
        @media all and (min-width: 950px) and (max-width: 1300px) {
            @include column(2);
        }
        @media all and (min-width: 1300px) {
            @include column(3);
        }
    }
}
