/**
 * @file Forms
 * Styles for the layout of forms. See the Elements file for form element appearance styles.
 */


.resizable-textarea {
    textarea {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}


.form-checkboxes,
.form-radios {
    @include group;
}

main {
    .form-type-checkbox,
    .form-type-radio {
        @media only screen and (min-width: $w-narrow) {
            // width: 50%;
            // float: left;
            // padding-right: 1em;
            // box-sizing: border-box;
        }
        @media only screen and (min-width: $w-regular) {
            // width: 33.3%;
        }
    }
}
