@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?14bavt');
	src:url('../fonts/icomoon.eot?14bavt#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?14bavt') format('truetype'),
		url('../fonts/icomoon.woff?14bavt') format('woff'),
		url('../fonts/icomoon.svg?14bavt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	&::before {
	    /* use !important to prevent issues with browser extensions that change fonts */
		font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1; // This makes them not align correctly with text.
		
		/* Enable Ligatures ================ */
		letter-spacing: 0;
		-webkit-font-feature-settings: "liga";
		-moz-font-feature-settings: "liga=1";
		-moz-font-feature-settings: "liga";
		-ms-font-feature-settings: "liga" 1;
		-o-font-feature-settings: "liga";
		font-feature-settings: "liga";

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.icon-home:before {
	content: "\e909";
}
.icon-price-tag:before {
	content: "\e90a";
}
.icon-price-tags:before {
	content: "\e90b";
}
.icon-phone:before {
	content: "\e90c";
}
.icon-location:before {
	content: "\e90d";
}
.icon-map:before {
	content: "\e90e";
}
.icon-clock:before {
	content: "\e90f";
}
.icon-calendar:before {
	content: "\e910";
}
.icon-bubbles2:before {
	content: "\e911";
}
.icon-user:before {
	content: "\e912";
}
.icon-users:before {
	content: "\e913";
}
.icon-menu:before {
	content: "\e914";
}
.icon-mail:before {
	content: "\e915";
}
.icon-google-plus:before {
	content: "\e900";
}
.icon-facebook:before {
	content: "\e901";
}
.icon-instagram:before {
	content: "\e902";
}
.icon-twitter:before {
	content: "\e903";
}
.icon-youtube:before {
	content: "\e904";
}
.icon-vimeo:before {
	content: "\e905";
}
.icon-tumblr:before {
	content: "\e906";
}
.icon-linkedin2:before {
	content: "\e907";
}
.icon-pinterest:before {
	content: "\e908";
}

