/**
 * @file Nodes & Fields
 */

/**
 * CONTENTS

   View mode: Full
   View mode: teaser
   C. Type: Team members
   C. Type: Articles
   Fields displayed inline
   Field type: Entity reference
 */



/* =============================================================================
                                                      View mode: Full
 */
article[data-view-mode="full"] {
   & > .field-name-field-image:first-child {
      float: left;
      margin-right: 2em;
      margin-bottom: 2em;
   }
}



/* =============================================================================
                                                      View mode: Teaser
 */
article[data-view-mode="teaser"] {
   h2 {
      margin-top: 0;
   }
   @media all and (min-width: $w-narrow) {
      margin-top: 3em;

      @include display(flex);
   }
   .show {
      @include flex(0 0 auto);
   }
   .tell {
      @include flex(1 1 auto);
      padding-left: 2em;
   }
   .views-row & {
      @include group;

      .node_links {
         float: right;
      }
   }
}



/* =============================================================================
                                                      C. Type: Speakers
 */
article[data-type="speaker"] {
   &[data-view-mode="teaser"] {
   }
   .field-name-field-image img {
      border-radius: 3%;
   }
}



/* =============================================================================
                                                      C. Type: Team members
 */
article[data-type="team-member"] {
   &[data-view-mode="teaser"] {
   }
   .field-name-field-image img {
      border-radius: 8%;
   }
}



/* =============================================================================
                                                      C. Type: Articles
 */
article[data-type="article"] {
   &[data-view-mode="teaser"] {
   }
}



/* =============================================================================
                                                      Fields displayed inline
 */
.field-label-inline {
   line-height: 1.2;
   display: table-row;

   // First one
   &:first-child > *,
   :not(.field-label-inline) + & > * {
      padding-top: 1em;
   }
   // All except first
   & + .field-label-inline > * {
      padding-top: 0.5em;
   }
   // First element that follows last one
   & + .field:not(.field-label-inline) {
      margin-top: 1em;
   }

   div {
      display: inline;
   }
   & > *,
   & > div {
      float: none;
      // display: inline;
      display: table-cell;
      padding-right: 1.2em;
   }
   .field_item {
      &:not(:last-child)::after {
         content: ",";
      }
   }
}



/* =============================================================================
                                                      Fields
 */
.field_label {
   font-weight: 600;
}
.field-name-field-image,
.views-field-field-image {
   img {
      // @include bordered;
      // margin-bottom: 4px;
   }
}
.field-type-entity-reference {}

.field.field-type-string.field_item {
   max-width: 40em;
   overflow: hidden;
   word-wrap: break-word;
}